@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.koulen-regular {
  font-family: "Koulen", serif;
  font-weight: 400;
  font-style: normal;
}
.primary{
  color: #4CB04F;
}
.primary-bg{
  background-color: #4CB04F;
}
.secondary-bg{
  background-color: #e0dede;
}


.primary-btn{
  background-color: #4CB04F;
  color: white;
  font-size: medium;
}


.br-5{
  border-radius: 18px;
}